# Build
build/
cmake-build-*/

# IDE
.vscode/
.idea/

# Compiled binaries
*.o
*.a
*.so
*.exe

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt

# OS
.DS_Store
Thumbs.db